body {
    margin: 0;
    padding: 0;
    background-color: rgb(234, 242, 245);
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(37, 33, 27);
    padding: 8px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
}

.navbar ul li {
    float: left;
    position: relative;
}

.navbar ul li a {
    display: block;
    padding: 12px 20px;
    width: 100px;
    height: 20px;
    color: white;
    text-decoration: none;

}

.navbar ul li a:hover {
    background-color: #555;
    width: 100px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 100px;
    z-index: 1;
}

.dropdown-content li a {
    padding: 12px 16px;
    display: block;
    color: white;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    width: 140px;
}

.cpbllogo {
    width: 50%;
    height: 50%;
    display: block;
    margin: 100px auto;
}

.content {
    display: flex;
    /* 內容水平排列 */
    gap: 20px;
    /* 圖片與文字之間的距離 */
}

.pic {
    width: 150px;
    height: auto;
    /* 讓每一隊的logo大小一致 */
}

.text {
    margin: 0;
}